.fileIcon {
  content: url("../img/file.svg"); /* 引入SVG图标文件 */
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: left;
  vertical-align: middle;
}

.folderIcon {
  content: url("../img/folder.svg"); /* 引入SVG图标文件 */
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: left;
  vertical-align: middle;
}

.linkIcon {
  content: url("../img/link.svg"); /* 引入SVG图标文件 */
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: left;
  vertical-align: middle;
}

.returnIcon {
  content: url("../img/return.svg"); /* 引入SVG图标文件 */
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: left;
  vertical-align: middle;
}

.indexIcon {
  content: url("../img/index.svg"); /* 引入SVG图标文件 */
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: left;
  vertical-align: middle;
}

.custom-alert {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #f44336;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: none;
}
