.storage-entry {
  width: 1600px;
  height: 40px;
  font-family: sans-serif;
  font-size: 20px;
  text-align: left;
  white-space: nowrap;
}

.localicon {
  background-image: url("../img/localfile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width: 6%;
  max-width: 6%;
  padding: 3px 5px;
}

.storage-name {
  width: 64%;
  max-width: 64%;
  padding: 3px 5px;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
}

.storage-type {
  width: 15%;
  padding: 3px 5px;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
}

.storage-path {
  width: 15%;
  padding: 3px 5px;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
}
