.localicon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../img/localfile.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
  vertical-align: middle;
}
