body {
  font-family: sans-serif;
  display: grid;
  place-items: center;
  height: 10vh;
}

.file-entry {
  text-align: left;
  vertical-align: middle;
}

.file-info {
  width: 600px;
  overflow-x: hidden;
  display: inline-block;
  white-space: nowrap;
  margin: 10px;
  padding: 1 10px;
}

.file-info-size {
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  padding: 1 10px;
}

.file-info-time {
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  padding: 1 10px;
}
