.file-entry {
  width: 1600px;
  height: 40px;
  font-family: sans-serif;
  font-size: 20px;
  text-align: left;
  white-space: nowrap;
}

.fileIcon {
  background-image: url("../img/file.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width: 3%;
  max-width: 3%;
  padding: 3px 5px;
}

.folderIcon {
  background-image: url("../img/folder.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width: 3%;
  max-width: 3%;
  padding: 3px 5px;
}

.file-info {
  width: 67%;
  max-width: 1050px;
  padding: 3px 5px;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
}

.file-info-size {
  width: 15%;
  max-width: 15%;
  padding: 3px 5px;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-info-time {
  width: 15%;
  max-width: 15%;
  padding: 3px 5px;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
}
